ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  margin-left: 10px;
  a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2px 8px;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
